// COLORS
$primary-color: #19283a;
$secondary-color: rgba(25, 40, 58, 0.9);
$tertiary-color: rgba(25, 40, 58, 0.4);

// $primary-color: #7f449d;
// $secondary-color: #793fc1;

$white-color: #d7dde4;

$dark-grey: #000;

$dark-blue-text: #272341; // For Headings

// FONT SIZE
$default-font-size: 1.6rem;
$big-font-size: 4rem;
$mid-font-size: 2.5rem;
